# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Environment 
.env

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editor
.vscode/
.idea/